*{
    padding: 0;
    margin: 0;
    outline: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.menu_bg{
    /* position: fixed; */
    width: 100%;
    height: 70px;
    background-color: #1C1E53;
    z-index: 999;
}
.menu_bg ul li a{
    padding: 0 16px !important;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF !important;
    text-align: left;
}
.menu_bg .contact a{
    padding: 16px 48px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    color: #FFFFFF;
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
}

/* <!----------------------------- About us part start -------------------------> */
.about_us{
    margin-top: 120px;
}
.about_us_text h5{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #282938;
}
.about_us_text h1{
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
    color: #282938;
}
.about_us_text p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
}
/* <!----------------------------- About us part end ---------------------------> */

/* <!------------------------------ Who we are part start ----------------------> */
.whowe{
    padding: 70px 0 0 0;
    background-color: #F4F5F5;
}
.whowe_text1 h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #282938;
}
.whowe_text1 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    color: #282938;
}
.whowe_text1 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    opacity: 0.7;
}
.whowe_text2 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    color: #282938;
}
.whowe_text2 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    opacity: 0.7;
}
.whowe_img{
    margin-top: 50px;
}
.whowe_img img{
    width: 100%;
}
/* <!------------------------------ Who we are part end ------------------------> */

/* <!------------------------------- The process we follow part start --------------> */
#process{
    padding: 100px 0;
}
.process_text{
    text-align: center;
}
.process_text h4{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    line-height: 64px;
    font-weight: 600;
    color: #282938;
}
.process_card{
    margin-top: 48px;
}
.process_card1 i{
    font-size: 24px;
    color: #2405F2;
    position: relative;
}
.process_card1 i::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 48px;
    width: 150px;
    border: 1.5px dotted #2405F2;
    opacity: 0.4;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.process_card1 h5{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #282938;
    margin-top: 15px;
}
.process_card1 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    opacity: 0.7;
}
.process_card2 i{
    font-size: 24px;
    color: #2405F2;
    position: relative;
}
.process_card2 i::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 48px;
    border: 1.5px dotted #2405F2;
    width: 150px;
    opacity: 0.4;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.process_card2 h5{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #282938;
    margin-top: 15px;
}
.process_card2 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    opacity: 0.7;
}
.process_card3 i{
    font-size: 24px;
    color: #2405F2;
    position: relative;
}
.process_card3 i::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 48px;
    border: 1.5px dotted #2405F2;
    width: 150px;
    opacity: 0.4;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.process_card3 h5{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #282938;
    margin-top: 15px;
}
.process_card3 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    opacity: 0.7;
}
.process_card4 i{
    font-size: 24px;
    color: #2405F2;
    position: relative;
}
.process_card4 i::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 48px;
    border: 1.5px dotted #2405F2;
    width: 150px;
    opacity: 0.4;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.process_card4 h5{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #282938;
    margin-top: 15px;
}
.process_card4 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    opacity: 0.7;
}
/* <!------------------------------- The process we follow part end -----------------> */

/* <!------------------------------- Our Mission part start -------------------------> */
#mission{
    padding: 128px 0;
    background-color: #EEF4FA;
}
.mission_text1{
    margin-top: 54px;
}
.mission_text1 h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #282938;
}
.mission_text1 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    line-height: 56px;
    font-weight: 600;
    color: #282938;
}
.mission_text1 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    opacity: 0.7;
}
.mission_img1 img{
    width: 100%;
}
.mission_2{
    margin-top: 96px;
}
.mission_img2 img{
    width: 100%;
}
.mission_text2{
    margin-top: 54px;
}
.mission_text2 h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #282938;
}
.mission_text2 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    line-height: 56px;
    font-weight: 600;
    color: #282938;
}
.mission_text2 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    opacity: 0.7;
}
/* <!------------------------------- Our Mission part end ----------------------------> */

/* <!--------------------------- The benefits of working part start ------------------> */
#working{
    padding: 128px 0;
}
.working_text{
    text-align: center;
    padding: 0 218px;
}
.working_text h4{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    line-height: 64px;
    font-weight: 600;
    color: #282938;
}

.working_card1{
    padding: 50px 0 48px 48px;
    background: var(--Grey, #F4F6FC);
}
.working_card1 i{
    font-size: 32px;
    color: #2405F2;
}
.working_card1 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #282938;
    margin-top: 15px;
}
.working_card1 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    opacity: 0.7;
}
.working_card2{
    padding: 50px 0 48px 48px;
    background: var(--Grey, #F4F6FC);
}
.working_card2 i{
    font-size: 32px;
    color: #2405F2;
}
.working_card2 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #282938;
    margin-top: 15px;
}
.working_card2 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    opacity: 0.7;
}
.working_card3{
    padding: 50px 0 48px 48px;
    background: var(--Grey, #F4F6FC);
}
.working_card3 i{
    font-size: 32px;
    color: #2405F2;
}
.working_card3 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #282938;
    margin-top: 15px;
}
.working_card3 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    opacity: 0.7;
}

.working2{
    margin-top: 48px;
}
.working_text1 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    line-height: 56px;
    font-weight: 600;
    color: #282938;
}
.working_text1 h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    opacity: 0.7;
}
.working_img1 img{
    width: 100%;
    margin-top: 15px;
}
.working_img2 img{
    width: 100%;
    margin-top: 15px;
}
.working_img3 img{
    width: 100%;
    margin-top: 15px;
}
.working_img4 img{
    width: 100%;
    margin-top: 15px;
}
.working_img5 img{
    width: 100%;
    margin-top: 15px;
}
/* <!--------------------------- The benefits of working part end --------------------> */

/* <!---------------------------- Meet our team part start ---------------------------> */
#team{
    padding: 100px 0;
    background-color: #F4F6FC;
}
.team_text h4{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    line-height: 64px;
    font-weight: 600;
    color: #282938;
    text-align: center;
}
.team_member1{
    background: #FFF;
    text-align: center;
    padding: 48px 0 32px 0;
}
.team_member1_img{
    height: 168px;
    width: 168px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: url(../images/about/member1.png) no-repeat center / cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.team_member1_img::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
    background: linear-gradient(348deg, #5239FA 17.97%, rgba(255, 255, 255, 0.00) 79.2%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.team_member1_img:hover::after{
    opacity: 0.7;
}
.team_member1_icon{
    position: absolute;
    z-index: 1;
    bottom: 28px;
    left: 50%;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.team_member1_img:hover .team_member1_icon{
    opacity: 1;
}
.team_member1_icon a{
    font-size: 13px;
    padding: 0 6px;
    color: #FFFFFF;
}
.team_member1 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #1D2130;
    margin-top: 30px;
}
.team_member1 h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #1D2130;
}

.team_member2{
    background: #FFF;
    text-align: center;
    padding: 48px 0 32px 0;
}
.team_member2_img{
    height: 168px;
    width: 168px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: url(../images/about/member2.png) no-repeat center / cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.team_member2_img::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
    background: linear-gradient(348deg, #5239FA 17.97%, rgba(255, 255, 255, 0.00) 79.2%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.team_member2_img:hover::after{
    opacity: 0.7;
}
.team_member2_icon{
    position: absolute;
    z-index: 1;
    bottom: 28px;
    left: 50%;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.team_member2_img:hover .team_member2_icon{
    opacity: 1;
}
.team_member2_icon a{
    font-size: 13px;
    padding: 0 6px;
    color: #FFFFFF;
}
.team_member2 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #1D2130;
    margin-top: 30px;
}
.team_member2 h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #1D2130;
}
.team_member3{
    background: #FFF;
    text-align: center;
    padding: 48px 0 32px 0;
}
.team_member3_img{
    height: 168px;
    width: 168px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: url(../images/about/member3.png) no-repeat center / cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.team_member3_img::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
    background: linear-gradient(348deg, #5239FA 17.97%, rgba(255, 255, 255, 0.00) 79.2%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.team_member3_img:hover::after{
    opacity: 0.7;
}
.team_member3_icon{
    position: absolute;
    z-index: 1;
    bottom: 28px;
    left: 50%;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.team_member3_img:hover .team_member3_icon{
    opacity: 1;
}
.team_member3_icon a{
    font-size: 13px;
    padding: 0 6px;
    color: #FFFFFF;
}
.team_member3 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #1D2130;
    margin-top: 30px;
}
.team_member3 h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #1D2130;
}


.team_member4{
    background: #FFF;
    text-align: center;
    padding: 48px 0 32px 0;
}
.team_member4_img{
    height: 168px;
    width: 168px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: url(../images/about/member4.png) no-repeat center / cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.team_member4_img::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
    background: linear-gradient(348deg, #5239FA 17.97%, rgba(255, 255, 255, 0.00) 79.2%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.team_member4_img:hover::after{
    opacity: 0.7;
}
.team_member4_icon{
    position: absolute;
    z-index: 1;
    bottom: 28px;
    left: 50%;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.team_member4_img:hover .team_member4_icon{
    opacity: 1;
}
.team_member4_icon a{
    font-size: 13px;
    padding: 0 6px;
    color: #FFFFFF;
}
.team_member4 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #1D2130;
    margin-top: 30px;
}
.team_member4 h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #1D2130;
}

/* <!---------------------------- Meet our team part end -----------------------------> */

/* <!----------------------------- footer part start ---------------------------> */
#footer{
    padding-top: 96px;
    background-color: #1C1E53;
}
.footer_logo p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-top: 15px;
}
.footer_contact{
    height: 95px;
    width: 100%;
    display: flex;
    background-color: #FCD980;
    margin-top: 80px;
    align-items: center;
    padding-left: 37px;
}
.footer_contact_mail h4{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #282938;
}
.footer_contact_mail a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #282938;
    opacity: 0.8;
}

.footer_contact_call{
    padding-left: 29px;
}
.footer_contact_call h4{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #282938;
}
.footer_contact_call a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #282938;
    opacity: 0.8;
}

.footer_talk h3{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    color: #FFFFFF;
}
.footer_talk p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #F4F6FC;
    opacity: 0.8;
}
.footer_talk_icon a{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 28px;
    color: #F4F6FC;
    margin-right: 26px;
}

#footer_menu{
    padding: 32px 0 15px 0;
}
.footer_menu_text h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #282938;
}

.footer_menu_main ul li{
    display: inline-block;
    padding-left: 10px;
}
.footer_menu_main ul li a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #282938;
}
/* <!----------------------------- footer part end -----------------------------> */





/*----------------------------- Responsive Part Start ----------------------------*/

@media(max-width:575px){
    .menu_bg button i{
        font-size: 25px;
        color: red;
    }
    .menu_bg button{
        border: 2px solid red;
    }
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 transparent;
    }
    .menu_bg ul li{
        background-color: #FCD980;
    }
    .menu_bg ul li a{
        color: #1B1C2B !important;
    }
    .menu_bg .contact{
        background-color: #FCD980;
    }
    .menu_bg .contact a{
        color: #1B1C2B !important;
        margin: 0;
        padding: 0 0 0 14px;
        border: 2px solid transparent;
    }
    .menu_bg{
        position: relative;
        padding: 25px 0;
        background-color: #1C1E53;
    }
    .menu_bg .nav_logo{
        position: absolute;
        top: 15px;
        right: 0;
    }
    .about_us {
        margin-top: 15px;
    }
    .about_us_text h1 {
        font-size: 40px;
        line-height: 65px;
    }
    .about_us_text p {
        font-size: 15px;
    }
    .whowe {
        padding: 31px 0 0 10px;
    }
    .whowe_img {
        margin-top: 15px;
    }
    .whowe_img img {
        width: 98%;
    }
    #process {
        padding: 35px 0;
    }
    .process_card1 h5 {
        margin-top: 5px;
    }
    .process_card1 p {
        font-size: 17px;
    }
    .process_card2{
        margin-top: 15px;
    }
    .process_card2 h5 {
        margin-top: 5px;
    }
    .process_card2 p {
        font-size: 17px;
    }
    .process_card3{
        margin-top: 15px;
    }
    .process_card3 h5 {
        margin-top: 5px;
    }
    .process_card3 p {
        font-size: 17px;
    }
    .process_card4{
        margin-top: 15px;
    }
    .process_card4 h5 {
        margin-top: 5px;
    }
    .process_card4 p {
        font-size: 17px;
    }
    #mission {
        padding: 0px 0;
    }
    .mission_text1 {
        margin-top: 30px;
    }
    .mission_text1 h4 {
        font-size: 26px;
    }
    .mission_text1 p {
        font-size: 15px;
        line-height: 27px;
    }
    .mission_text2 {
        margin-top: 8px;
    }
    .mission_text2 h4 {
        font-size: 26px;
        line-height: 43px;
    }
    .mission_text2 p {
        font-size: 15px;
    }
    #working {
        padding: 10px 0;
    }
    .working_text {
        padding: 0;
    }
    .working_text h4 {
        font-size: 39px;
        line-height: 55px;
    }
    .working_card1 {
        padding: 20px 0 10px 20px;
    }
    .working_card2 {
        padding: 20px 0 10px 20px;
        margin-top: 25px;
    }
    .working_card3 {
        padding: 20px 0 10px 20px;
        margin-top: 25px;
    }
    #team {
        padding: 50px 0;
    }
    .team_text h4 {
        font-size: 42px;
    }
    .team_member1 {
        padding: 15px 0 10px 0;
    }
    .team_member1 h4 {
        margin-top: 10px;
    }
    .team_member2 {
        padding: 15px 0 10px 0;
        margin-top: 25px;
    }
    .team_member2 h4 {
        margin-top: 10px;
    }
    .team_member3{ 
        padding: 15px 0 10px 0;
        margin-top: 25px;
    }
    .team_member3 h4 {
        margin-top: 10px;
    }
    .team_member4 {
        padding: 15px 0 10px 0;
        margin-top: 25px;
    }
    .team_member4 h4 {
        margin-top: 10px;
    }
    #footer {
        padding-top: 35px;
    }
    .footer_contact {
        margin-top: 50px;
        padding-left: 0;
    }
    .footer_contact_mail h4 {
        font-size: 15px;
        line-height: 7px;
    }
    .footer_contact_mail a {
        font-size: 15px;
        line-height: 6px;
    }
    .footer_contact_call h4 {
        font-size: 16px;
        line-height: 7px;
    }
    .footer_contact_call a {
        font-size: 14px;
        line-height: 6px;
    }
    .footer_talk_icon{
        text-align: center;
    }
    .footer_menu_text{
        text-align: center;
    }
    ol, ul {
        padding-left: 0;
    }
    .footer_menu_main ul li a {
        font-size: 12px;
    }
    .footer_menu_main{
        text-align: center;
    }
    
}
@media(min-width:576px) and (max-width:767px){


        .menu_bg button i{
            font-size: 25px;
            color: red;
        }
        .menu_bg button{
            border: 2px solid red;
        }
        .navbar-toggler:focus {
            text-decoration: none;
            outline: 0;
            box-shadow: 0 0 0 transparent;
        }
        .menu_bg ul li{
            background-color: #FCD980;
        }
        .menu_bg ul li a{
            color: #1B1C2B !important;
        }
        .menu_bg .contact{
            background-color: #FCD980;
        }
        .menu_bg .contact a{
            color: #1B1C2B !important;
            margin: 0;
            padding: 0 0 0 14px;
            border: 2px solid transparent;
        }
        .menu_bg{
            position: relative;
            padding: 25px 0;
            background-color: #1C1E53;
        }
        .menu_bg .nav_logo{
            position: absolute;
            top: 15px;
            right: 0;
        }
        .about_us {
            margin-top: 15px;
        }
        .about_us_text h1 {
            font-size: 36px;
            line-height: 50px;
        }
        .about_us_text p {
            font-size: 15px;
        }
        .whowe {
            padding: 70px 0 0 10px;
        }
        .whowe_img {
            margin-top: 15px;
        }
        .whowe_img img {
            width: 98%;
        }
        #process {
            padding: 35px 0;
        }
        .process_text h4 {
            font-size: 46px;
        }
        .process_card3{
            margin-top: 25px;
        }
        .process_card4{
            margin-top: 25px;
        }
        #mission {
            padding: 10px 0;
        }
        .mission_text1 {
            margin-top: 25px;
        }
        .mission_text2 {
            margin-top: 15px;
        }
        #working {
            padding: 40px 0;
        }
        .working_text {
            padding: 0 0px;
        }
        .working_card1 {
            padding: 15px 0 15px 20px;
        }
        .working_card2 {
            padding: 15px 0 15px 20px;
            margin-top: 25px;
        }
        .working_card3 {
            padding: 15px 0 15px 20px;
            margin-top: 25px;
        }
        #team {
            padding: 40px 0;
        }
        .team_member1 {
            padding: 25px 0 15px 0;
        }
        .team_member2 {
            padding: 25px 0 15px 0;
        }
        .team_member3 {
            margin-top: 25px;
            padding: 25px 0 15px 0;
        }
        .team_member4 {
            margin-top: 25px;
            padding: 25px 0 15px 0;
        }
        #footer {
            padding-top: 35px;
        }
        .footer_contact {
            margin-top: 50px;
            padding-left: 0;
            justify-content: space-around;
        }
        .footer_contact_mail h4 {
            font-size: 15px;
            line-height: 7px;
        }
        .footer_contact_mail a {
            font-size: 15px;
            line-height: 6px;
        }
        .footer_contact_call h4 {
            font-size: 16px;
            line-height: 7px;
        }
        .footer_contact_call a {
            font-size: 14px;
            line-height: 6px;
        }
        .footer_talk_icon{
            text-align: center;
        }
        .footer_menu_text{
            text-align: center;
        }
        ol, ul {
            padding-left: 0;
        }
        .footer_menu_main ul li a {
            font-size: 12px;
        }
        .footer_menu_main{
            text-align: center;
        }
}
@media(min-width:768px) and (max-width:991px){

    .menu_bg button i{
        font-size: 25px;
        color: red;
    }
    .menu_bg button{
        border: 2px solid red;
    }
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 transparent;
    }
    .menu_bg ul li{
        background-color: #FCD980;
    }
    .menu_bg ul li a{
        color: #1B1C2B !important;
    }
    .menu_bg .contact{
        background-color: #FCD980;
    }
    .menu_bg .contact a{
        color: #1B1C2B !important;
        margin: 0;
        padding: 0 0 0 14px;
        border: 2px solid transparent;
    }
    .menu_bg{
        position: relative;
        padding: 25px 0;
        background-color: #1C1E53;
    }
    .menu_bg .nav_logo{
        position: absolute;
        top: 15px;
        right: 0;
    }
    .about_us {
        margin-top: 40px;
    }
    .about_us_text h1 {
        font-size: 49px;
    }
    #process {
        padding: 50px 0;
    }
    #mission {
        padding: 50px 0;
    }
    .mission_text1 {
        margin-top: 0px;
    }
    .mission_text2 {
        margin-top: 15px;
    }
    #working {
        padding: 50px 0;
    }
    .working_text {
        padding: 0;
    }
    .working_text h4 {
        font-size: 50px;
    }
    .working_card1 {
        padding: 15px 0 15px 10px;
    }
    .working_card2 {
        padding: 15px 0 15px 10px;
    }
    .working_card3 {
        padding: 15px 0 15px 10px;
    }
    .working_card1 h4 {
        font-size: 19px;
    }
    .working_card2 h4 {
        font-size: 19px;
    }
    .working_text1 h3 {
        font-size: 24px;
    }
    .working_text1 h5 {
        font-size: 13px;
        line-height: 0px;
    }
    #team {
        padding: 35px 0;
    }
    .team_member1 {
        padding: 20px 0 15px 0;
    }
    .team_member1 h4 {
        margin-top: 10px;
    }
    .team_member2 {
        padding: 20px 0 15px 0;
    }
    .team_member2 h4 {
        margin-top: 10px;
    }
    .team_member3 {
        padding: 20px 0 15px 0;
        margin-top: 25px;
    }
    .team_member3 h4 {
        margin-top: 10px;
    }
    .team_member4 {
        padding: 20px 0 15px 0;
        margin-top: 25px;
    }
    .team_member4 h4 {
        margin-top: 10px;
    }

    #footer {
        padding-top: 35px;
    }
    .footer_contact {
        margin-top: 50px;
        padding-left: 0;
        justify-content: space-around;
    }
    .footer_contact_mail h4 {
        font-size: 15px;
        line-height: 7px;
    }
    .footer_contact_mail a {
        font-size: 15px;
        line-height: 6px;
    }
    .footer_contact_call h4 {
        font-size: 16px;
        line-height: 7px;
    }
    .footer_contact_call a {
        font-size: 14px;
        line-height: 6px;
    }
    .footer_talk_icon{
        text-align: center;
    }
    .footer_menu_text{
        text-align: center;
    }
    ol, ul {
        padding-left: 0;
    }
    .footer_menu_main ul li a {
        font-size: 12px;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .about_us {
        margin-top: 50px;
    }
    .about_us_text h1 {
        font-size: 48px;
        line-height: 67px;
    }
    .about_us_text p {
        font-size: 14px;
        line-height: 26px;
    }
    .whowe_text1 p {
        font-size: 15px;
    }
    .whowe_text2 h4 {
        font-size: 29px;
        line-height: 89px;
    }
    .whowe_text2 p {
        font-size: 15px;
    }
    #process {
        padding: 50px 0;
    }
    #mission {
        padding: 50px 0;
    }
    .mission_2 {
        margin-top: 30px;
    }
    #working {
        padding: 50px 0;
    }
    .working_text h4 {
        font-size: 42px;
    }
    .working_card1 {
        padding: 25px 0 20px 20px;
    }
    .working_card2 {
        padding: 25px 0 20px 20px;
    }
    .working_card3 {
        padding: 25px 0 20px 20px;
    }
    .working_card1 p {
        font-size: 13px;
    }
    .working_card2 p {
        font-size: 13px;
    }
    .working_card3 p {
        font-size: 13px;
    }
    #team {
        padding: 50px 0;
    }
    .footer_contact_call a {
        font-size: 15px;
    }
    .footer_menu_text h5 {
        font-size: 14px;
    }
    #footer_menu {
        padding: 32px 0 0px 0;
    }
}
@media(min-width:1200px) and (max-width:1399px){

}
@media(min-width:1400px){

}




/*----------------------------- Responsive Part end -------------------------------*/
