*{
    padding: 0;
    margin: 0;
    outline: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
}
.menu_bg{
    background-color: #1C1E53;
    padding: 25px 0;
}
.menu_bg ul li a{
    padding: 0 16px !important;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF !important;
    text-align: left;
}
.menu_bg .contact a{
    padding: 16px 48px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    color: #FFFFFF;
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
}
/* <!---------------------------- Contact Us part start ------------------------> */
#contact{
    padding: 120px 0 0 0;
}
.contact_text{
    text-align: center;
}
.contact_text h1{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    color: #282938;
}
.contact_text p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
    padding: 0 275px;
}
/* <!---------------------------- Contact Us part end ------------------------> */

/* <!---------------------------- form part start ------------------------------> */
.form_main{
    padding: 55px 77px;
    background-color: #F4F6FC;
    display: flex;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.form_main label{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #000000;
}
.form_main input{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #000000;
}
.msg{
    resize: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #000000;
}
.form_btn{
    margin-top: 25px;
}
.btn{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #F4F6FC;
    padding: 15px 51px;
    border-radius: 41px;
    background: var(--Dark-blue, #282938);
}
/* <!---------------------------- form part end --------------------------------> */




/* <!----------------------------- footer part start ---------------------------> */
#footer{
    padding-top: 96px;
    background-color: #1C1E53;
}
.footer_logo p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-top: 15px;
}
.footer_contact{
    height: 95px;
    width: 100%;
    display: flex;
    background-color: #FCD980;
    margin-top: 80px;
    align-items: center;
    padding-left: 37px;
}
.footer_contact_mail h4{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #282938;
}
.footer_contact_mail a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #282938;
    opacity: 0.8;
}

.footer_contact_call{
    padding-left: 29px;
}
.footer_contact_call h4{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #282938;
}
.footer_contact_call a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #282938;
    opacity: 0.8;
}

.footer_talk h3{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    color: #FFFFFF;
}
.footer_talk p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #F4F6FC;
    opacity: 0.8;
}
.footer_talk_icon a{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 28px;
    color: #F4F6FC;
    margin-right: 26px;
}

#footer_menu{
    padding: 32px 0 15px 0;
}
.footer_menu_text h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #282938;
}

.footer_menu_main ul li{
    display: inline-block;
    padding-left: 10px;
}
.footer_menu_main ul li a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #282938;
}
/* <!----------------------------- footer part end -----------------------------> */
