*{
    padding: 0;
    margin: 0;
    outline: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.menu_bg{
    background-color: #1C1E53;
    height: 92px;
}
.menu_bg ul li a{
    padding: 0 16px !important;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF !important;
    text-align: left;
}
.menu_bg .contact a{
    padding: 16px 48px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    color: #FFFFFF;
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
}

/* <!-------------------- banner part start --------------------------> */
#banner{
    padding-top: 126px;
    padding-bottom: 128px;
    background-color: #1C1E53;
}
.ban_text h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 74px;
    color: #FFFFFF;
}
.ban_text p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    opacity: 0.7;
    color: #FFFFFF;
    margin-top: 24px;
}
.banner_button a{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #1B1C2B;
    padding: 16px 56px;
    background-color: #FCD980;
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
}
.banner_button{
    margin-top: 48px;
    position: relative;
    height: 50px;
}
.banner_img{
    margin-top: 25px;
}
.banner_img img{
    width: 100%;
}
/* <!-------------------- banner part end ----------------------------> */

/* <!------------------- User part start ------------------------------> */
.working2{
    margin-top: 48px;
}
.working_text1 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    line-height: 56px;
    font-weight: 600;
    color: #282938;
}
.working_text1 h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    opacity: 0.7;
}
.working_img1 img{
    width: 100%;
    margin-top: 15px;
}
.working_img2 img{
    width: 100%;
    margin-top: 15px;
}
.working_img3 img{
    width: 100%;
    margin-top: 15px;
}
.working_img4 img{
    width: 100%;
    margin-top: 15px;
}
.working_img5 img{
    width: 100%;
    margin-top: 15px;
}
/* <!------------------- User part end ------------------------------> */

/* --------------------------- The benefits of working part start --------------*/
#working{
    padding: 70px 0;
}
.working_text{
    text-align: center;
    padding: 0 218px;
}
.working_text h4{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    line-height: 64px;
    font-weight: 600;
    color: #282938;
}

.working_card1{
    padding: 50px 0 48px 48px;
    background: var(--Grey, #F4F6FC);
}
.working_card1 i{
    font-size: 32px;
    color: #2405F2;
}
.working_card1 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #282938;
    margin-top: 15px;
}
.working_card1 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    opacity: 0.7;
}
.working_card2{
    padding: 50px 0 48px 48px;
    background: var(--Grey, #F4F6FC);
}
.working_card2 i{
    font-size: 32px;
    color: #2405F2;
}
.working_card2 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #282938;
    margin-top: 15px;
}
.working_card2 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    opacity: 0.7;
}
.working_card3{
    padding: 50px 0 48px 48px;
    background: var(--Grey, #F4F6FC);
}
.working_card3 i{
    font-size: 32px;
    color: #2405F2;
}
.working_card3 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #282938;
    margin-top: 15px;
}
.working_card3 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    opacity: 0.7;
}
/* -------------------------- The benefits of working part end -----------------*/

/* -------------------------- Use Client-first part start ------------------------- */
#client{
    padding: 50px 0;
}
.user_text h5{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    color: #000000;
    opacity: 0.87;
}
.user_text h3{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    line-height: 56px;
    font-weight: 600;
    color: #232536;
}
.user_text p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    opacity: 0.6;
}
.user_img img{
    width: 100%;
}
/* -------------------------- Use Client-first part end ------------------------- */

/* <!-------------------------- Free Revision Rounds Part start ----------------------> */
#revision{
    padding: 50px 0;
    background-color: #F4F6FC;
}
.revision_img img{
    width: 100%;
}
.revision_text{
    margin-top: 35px;
}
.revision_text h5{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    color: #000000;
    opacity: 0.87;
}
.revision_text h3{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    line-height: 56px;
    font-weight: 600;
    color: #232536;
}
.revision_text p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    opacity: 0.6;
}
/* <!-------------------------- Free Revision Rounds Part end ------------------------> */

/* <!--------------------------- 24/7 Support part start -------------------------------> */
#support{
    padding: 50px 0;
}
.support_text{
    margin-top: 35px;
}
.support_text h5{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    color: #000000;
    opacity: 0.87;
}
.support_text h3{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    line-height: 56px;
    font-weight: 600;
    color: #232536;
}
.support_text p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    opacity: 0.6;
}
.support_img img{
    width: 100%;
}
/* <!--------------------------- 24/7 Support part end ---------------------------------> */

/* <!--------------------------- Quick Delivery part start ------------------------------> */
#delivery{
    padding: 100px 0;
    background: rgba(252, 217, 128, 0.10);
}
.delivery_img img{
    width: 100%;
}
.delivery_text{
    margin-top: 35px;
}
.delivery_text h5{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    color: #000000;
    opacity: 0.87;
}
.delivery_text h3{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    line-height: 56px;
    font-weight: 600;
    color: #232536;
}
.delivery_text p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    opacity: 0.6;
}
/* <!--------------------------- Quick Delivery part end --------------------------------> */

/* <!----------------------------- frequently part start ---------------------> */
#frequently{
    padding: 128px 0;
}
.frequently_text h3{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    color: #282938;
    padding-bottom: 16px;
}
.frequently_text a{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #2405F2;
    opacity: 0.87;
}

.accordion-button h3{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #2405F2;
}
.accordion-button h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #282938;
    padding-left: 55px;
}
.accordion-body p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #282938;
    padding-left: 85px;
    opacity: 0.87;
}

.accordion-button::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2'/%3E%3C/svg%3E");
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-x-lg' viewBox='0 0 16 16'%3E%3Cpath d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z'/%3E%3C/svg%3E");
}
.accordion-item {
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
}
/* <!----------------------------- frequently part end ------------------------> */



/* <!----------------------------- footer part start ---------------------------> */
#footer{
    padding-top: 96px;
    background-color: #1C1E53;
}
.footer_logo p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-top: 15px;
}
.footer_contact{
    height: 95px;
    width: 100%;
    display: flex;
    background-color: #FCD980;
    margin-top: 80px;
    align-items: center;
    padding-left: 37px;
}
.footer_contact_mail h4{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #282938;
}
.footer_contact_mail a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #282938;
    opacity: 0.8;
}

.footer_contact_call{
    padding-left: 29px;
}
.footer_contact_call h4{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #282938;
}
.footer_contact_call a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #282938;
    opacity: 0.8;
}

.footer_talk h3{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    color: #FFFFFF;
}
.footer_talk p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #F4F6FC;
    opacity: 0.8;
}
.footer_talk_icon a{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 28px;
    color: #F4F6FC;
    margin-right: 26px;
}

#footer_menu{
    padding: 32px 0 15px 0;
}
.footer_menu_text h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #282938;
}

.footer_menu_main ul li{
    display: inline-block;
    padding-left: 10px;
}
.footer_menu_main ul li a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #282938;
}
/* <!----------------------------- footer part end -----------------------------> */