@media(max-width:575px){
    .menu_bg button i{
        font-size: 25px;
        color: red;
    }
    .menu_bg button{
        border: 2px solid red;
    }
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 transparent;
    }
    .menu_bg ul li{
        background-color: #FCD980;
        display: block;
    }
    .menu_bg ul li a{
        color: #1B1C2B !important;
    }
    .menu_bg .contact{
        background-color: #FCD980;
    }
    .menu_bg .contact a{
        color: #1B1C2B !important;
        margin: 0;
    }
    .menu_bg{
        position: relative;
        padding: 25px 0;
        background-color: #1C1E53;
    }
    .menu_bg .nav_logo{
        position: absolute;
        top: 15px;
        right: 0;
    }
    #banner {
        padding-top: 17px;
        padding-bottom: 33px;
    }
    .ban_text h1 {
        font-size: 21px;
        line-height: 37px;
    }
    .ban_text p {
        font-size: 17px;
        line-height: 19px;
    }
    .banner_button {
        margin-top: 24px;
    }
    .ban_text_price {
        bottom: -63px;
        left: 29px;
    }
    .ban_text_price a {
        letter-spacing: 6px;
    }
    .banner_img {
        margin-top: 80px;
    }
    #work {
        padding: 33px 0;
    }
    .work_text p {
        font-size: 17px;
        line-height: 30px;
    }
    .work_btn {
        margin-top: 15px;
    }
    p {
        margin-bottom: 0;
    }
    .work_text1{
        margin-top: 30px;
    }
    .work_text1 h3 {
        font-size: 21px;
        line-height: 28px;
    }
    .work_text1 p {
        font-size: 13px;
        line-height: 25px;
    }
    .work_text2{
        margin-top: 30px;
    }
    .work_text2 h3 {
        font-size: 20px;
        line-height: 25px;
    }
    .work_text2 p {
        font-size: 13px;
        line-height: 26px;
    }
    .work_text3{
        margin-top: 15px;
    }
    .work_text3 h3 {
        font-size: 30px;
    }
    .work_text3 p {
        font-size: 13px;
        line-height: 25px;
    }
    .work_text4{
        margin-top: 15px;
    }
    .work_text4 h3 {
        font-size: 18px;
        line-height: 58px;
    }
    .work_text4 p {
        font-size: 13px;
        line-height: 25px;
        margin-top: -10px;
    }
    .view_main {
        padding: 33px 0;
    }
    .view_text h4 {
        font-size: 29px;
        line-height: 50px;
    }
    .view2_text {
        margin-top: 4px;
    }
    .view_img {
        margin-top: 23px;
    }
    .view_img img {
        width: 96%;
    }
    .view_img_text {
        top: 20px;
        left: 15px;
    }
    .view_img_text h3 {
        font-size: 18px;
        padding-right: 170px;
    }
    .view_img2 {
        margin-top: 24px;
    }
    .view_img2_text {
        top: 41px;
        left: 26px;
    }
    .view_img2_text h3 {
        font-size: 20px;
        line-height: 32px;
        padding-right: 6px;
    }
    .view_img3_text {
        top: 41px;
        left: 26px;
    }
    .view_img3_text h3 {
        font-size: 20px;
        line-height: 32px;
        padding-right: 6px;
    }
    #features {
        padding: 33px 0;
    }
    .features_card1 i {
        
        height: 50px;
        width: 50px;
    }
    .features_card2 i {
        
        height: 50px;
        width: 50px;
    }
    .features_card3 i {
        
        height: 50px;
        width: 50px;
    }
    .features_card4 i {
      
        height: 50px;
        width: 50px;
    }
    .features_card5 i {
        height: 50px;
        width: 50px;
    }
    .features_card6 i {
        height: 50px;
        width: 50px;
    }
    .features_text h3 {
        font-size: 17px;
        line-height: 29px;
    }
    .features_card1 {
        padding: 15px 0 15px 10px;
    }
    .features_card1 h4 {
        font-size: 12px;
        line-height: -1px;
        margin-top: 0;
    }
    .features_card1 p {
        font-size: 10px;
        line-height: 14px;
    }
    .features_card2 {
        padding: 15px 0 15px 10px;
    }
    .features_card2 h4 {
        font-size: 12px;
        line-height: 18px;
        margin-top: 0;
    }
    .features_card2 p {
        font-size: 10px;
        line-height: 14px;
    }
    .features_card3 {
        margin-top: 24px;
    }
    .features_card3 {
        padding: 15px 0 15px 10px;
    }
    .features_card3 h4 {
        font-size: 12px;
        line-height: 18px;
        margin-top: 0;
    }
    .features_card3 p {
        font-size: 10px;
        line-height: 14px;
    }
    .features_card4 {
        padding: 15px 0 15px 10px;
    }
    .features_card4 h4 {
        font-size: 12px;
        line-height: 36px;
        margin-top: 0;
    }
    .features_card4 p {
        font-size: 10px;
        line-height: 14px;
    }
    .features_card5 {
        padding: 15px 0 15px 10px;
    }
    .features_card5 h4 {
        font-size: 12px;
        line-height: 18px;
        margin-top: 0;
    }
    .features_card5 p {
        font-size: 10px;
        line-height: 14px;
    }
    .features_card6{
        padding: 15px 0 15px 10px;
    }
    .features_card6 h4{
        font-size: 10px;
        line-height: 18px;
        margin-top: 0;
    }
    .features_card6 p {
        font-size: 10px;
        line-height: 14px;
    }
    #clients {
        padding: 33px 0;
    }
    .clients_text h3 {
        font-size: 31px;
        line-height: 40px;
    }
    .clients_text p {
        font-size: 17px;
        line-height: 26px;
    }
    .clients_text2 p {
        font-size: 16px;
        line-height: 37px;
        margin-top: 20px;
    }
    .clients_img {
        margin-top: 30px;
    }
    .frequently_text h3 {
        font-size: 30px;
        line-height: 41px;
    }
    .accordion-button h4 {
        font-size: 12px;
        line-height: 24px;
        padding-left: 22px;
    }
    .accordion-body p {
        font-size: 15px;
        line-height: 28px;
        padding-left: 0;
    }
    .accordion-button {
        padding: 0;
    }
    .frequently_accordion{
        margin-top: 25px;
    }
    #frequently {
        padding: 85px 0;
    }
    .building_img h3 {
        font-size: 20px;
        line-height: 35px;
        padding: 32px 15px 0 15px;
    }
    .building_img p {
        font-size: 18px;
        padding: 0px 15px 0 15px;
    }
    .building_img {
        width: 100%;
        height: 314px;
    }
    .building_text {
        height: 581px;
    }
    .building_text h3 {
        padding: 42px 0 0 15px;
    }
    .building_text p {
        line-height: 28px;
        padding: 0px 0 0 18px;
    }
    .building_text .name {
        margin: 40px 0 0 15px;
        width: 92%;
        height: 40px;
    }
    .building_text .email {
        height: 40px;
        margin: 16px 0 0 15px;
        width: 92%;
    }
    .building_text .figma {
        height: 40px;
        margin: 16px 0 0 15px;
        width: 92%;
        font-size: 15px;
    }
    .building_text .btn {
        font-size: 18px;
        padding: 16px 58px;
        margin: 20px 0 0 15px;
    }
    #blog {
        padding: 25px 0;
    }
    .blog_text1 h5 {
        margin-top: 8px;
    }
    .blog_text1 h3 {
        line-height: 32px;
        margin-top: 0px;
    }
    .blog_text1 p {
        margin-top: 0px;
    }
    .blog_text1 a {
        margin-top: 0;
    }
    .blog_text2{
        margin-top: 35px;
    }
    .blog_text2 h5 {
        margin-top: 8px;
    }
    .blog_text2 h3 {
        margin-top: 0;
    }
    .blog_text2 p {
        margin-top: 0;
    }
    .blog_text2 a {
        margin-top: 0;
    }
    .blog_text3{
        margin-top: 35px;
    }
    .blog_text3 h5 {
        margin-top: 8px;
    }
    .blog_text3 h3 {
        margin-top: 0;
    }
    .blog_text3 p {
        margin-top: 0;
    }
    .blog_text3 a {
        margin-top: 0;
    }
    #footer {
        padding-top: 50px;
    }
    .footer_contact {
        margin-top: 25px;
        padding-left: 10px;
    }
    .footer_contact_call {
        padding-left: 0px;
    }
    .footer_contact_mail h4 {
        line-height: 0px;
    }

}
@media(min-width:576px) and (max-width:767px){
    .menu_bg button i{
        font-size: 25px;
        color: red;
    }
    .menu_bg button{
        border: 2px solid red;
    }
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 transparent;
    }
    .menu_bg ul li{
        background-color: #FCD980;
        display: block;
    }
    .menu_bg ul li a{
        color: #1B1C2B !important;
    }
    .menu_bg .contact{
        background-color: #FCD980;
    }
    .menu_bg .contact a{
        color: #1B1C2B !important;
        margin: 0;
    }
    .menu_bg{
        position: relative;
        padding: 25px 0;
        background-color: #1C1E53;
    }
    .menu_bg .nav_logo{
        position: absolute;
        top: 15px;
        right: 0;
    }
    #banner {
        padding-top: 17px;
        padding-bottom: 33px;
    }
    .ban_text h1 {
        font-size: 56px;
        font-weight: 500;
        line-height: 79px;
    }
    .ban_text p {
        font-size: 19px;
        font-weight: 500;
        line-height: 36px;
    }
    .banner_img {
        margin-top: 50px;
    }
    #work {
        padding: 33px 0;
    }
    .work_text p {
        font-size: 20px;
        line-height: 39px;
    }
    p {
        margin-bottom: 0;
    }
    .work_text1{
        margin-top: 15px;
    }
    .work_text2{
        margin-top: 15px;
    }
    .work_text3{
        margin-top: 15px;
    }
    .work_text4{
        margin-top: 15px;
    }
    .view_main {
        padding: 33px 0;
    }
    .view2_text {
        margin-top: 4px;
    }
    .view_img {
        margin-top: 23px;
    }
    .view_img img {
        width: 96%;
    }
    .view_img_text {
        top: 115px;
    }
    .view_img_text h3 {
        font-size: 18px;
        padding-right: 170px;
    }
    .view_img2 {
        margin-top: 24px;
    }
    .view_img2_text {
        top: 41px;
        left: 26px;
    }
    .view_img2_text h3 {
        font-size: 20px;
        line-height: 32px;
        padding-right: 6px;
    }
    .view_img3_text {
        top: 41px;
        left: 26px;
    }
    .view_img3_text h3 {
        font-size: 20px;
        line-height: 32px;
        padding-right: 6px;
    }
    #features {
        padding: 33px 0;
    }
    .features_text h3 {
        font-size: 35px;
        line-height: 51px;
    }
    .features_card3 {
        margin-top: 24px;
    }
    .features_card1 h4 {
        font-size: 23px;
    }
    .features_card1 p {
        font-size: 15px;
        line-height: 23px;
    }
    .features_card2 h4 {
        font-size: 15px;
        line-height: 19px;
        margin-top: 30px;
    }
    .features_card2 p {
        font-size: 16px;
        line-height: 24px;
    }
    .features_card3 h4 {
        font-size: 15px;
        line-height: 16px;
    }
    .features_card4 h4 {
        font-size: 17px;
        line-height: 16px;
    }
    .features_card5 h4 {
        font-size: 17px;
        line-height: 10px;
    }
    .features_card6 h4 {
        font-size: 18px;
        line-height: 9px;
    }
    #clients {
        padding: 33px 0;
    }
    .clients_text h3 {
        font-size: 34px;
        line-height: 40px;
    }
    .clients_text p {
        font-size: 16px;
        line-height: 12px;
    }
    .clients_text2 p {
        font-size: 24px;
        line-height: 37px;
        margin-top: 25px;
    }
    .clients_img {
        margin-top: 30px;
    }
    .frequently_text h3 {
        font-size: 36px;
        line-height: 26px;
    }
    .frequently_accordion{
        margin-top: 25px;
    }
    #frequently {
        padding: 85px 0;
    }
}
@media(min-width:768px) and (max-width:991px){
    .menu_bg button i{
        font-size: 25px;
        color: red;
    }
    .menu_bg button{
        border: 2px solid red;
    }
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 transparent;
    }
    .menu_bg ul li{
        background-color: #FCD980;
        display: block;
    }
    .menu_bg ul li a{
        color: #1B1C2B !important;
    }
    .menu_bg .contact{
        background-color: #FCD980;
    }
    .menu_bg .contact a{
        color: #1B1C2B !important;
        margin: 0;
    }
    .menu_bg{
        position: relative;
        padding: 25px 0;
        background-color: #1C1E53;
    }
    .menu_bg .nav_logo{
        position: absolute;
        top: 15px;
        right: 0;
    }
    #work {
        padding: 30px 0;
    }
    .work_text p {
        font-size: 17px;
    }
    .work_text1_num {
        margin-top: 25px;
    }
    .work_text2_num {
        margin-top: 25px;
    }
    .view_main {
        padding: 30px 0;
    }
    .view_img2 {
        margin-top: 25px;
    }
    #features {
        padding: 30px 0;
    }
    .features_card2 h4 {
        font-size: 22px;
    }
    .features_card3 {
        margin-top: 24px;
    }
    .features_card3 h4 {
        font-size: 22px;
    }
    #clients {
        padding: 30px 0;
    }
    #frequently {
        padding: 80px 0 50px 0;
    }
    .building_text {
        height: 590px;
    }
    .building_text .name {
        margin-top: 10px;
        width: 65%;
    }
    .building_text .email {
        width: 65%;
    }
    .building_text .figma {
        width: 65%;
    }
    #blog {
        padding: 30px 0;
    }
    .blog_text1 a {
        margin-top: 0;
    }
    .blog_main {
        margin-top: 14px;
    }
    .building_text h3 {
        padding: 39px 0 0 96px;
    }
    .blog_text2{
        margin-top: 40px;
    }
    .blog_text2 a {
        margin-top: 0;
    }
    .blog_text3{
        margin-top: 40px;
    }
    .blog_text3 a {
        margin-top: 0;
    }
    .blog_text4{
        margin-top: 40px;
    }
    #footer {
        padding-top: 25px;
    }
    .footer_contact_call {
        padding-left: 165px;
    }
    .footer_contact {
        width: 100%;
        margin-top: 38px;
    }
    .footer_talk h3 {
        margin-top: 25px;
    }
    .footer_menu_text h5 {
        text-align: center;
    }
    .footer_menu_main{
        text-align: center;
    }
}
@media(min-width:992px) and (max-width:1199px){

}
@media(min-width:1200px) and (max-width:1399px){

}
@media(min-width:1400px){

}